.container
 .row
  h1 Profile
  .col-xs-4
    .form-group
      input.form-control(type='text', value='{{user.displayName}}', ng-model='user.displayName', placeholder='Name')
    .form-group
      input.form-control(type='text', value='{{user.phone}}', ng-model='user.phone', placeholder='Phone Number', required)
    .form-group
      input.form-control(type='email', value='{{user.email}}', ng-model='user.email', placeholder='Email', required)
    .form-group
      button.btn.btn-info(ng-click='edit(user)') Edit User
